<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-button>
    <ion-title>Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card 
  [status]="'hold'" 
  [updatedAt]="'13/10/2022 13:59'"
  [createdAt]="'12/10/2022 10:24'"
  [notes]="'Two full bags that are plenty filled with waste which cannot be recycled by any sane person'"></app-pickup-call-card>


  <app-pickup-call-card 
  [status]="'processing'" 
  [updatedAt]="'13/10/2022 13:59'"
  [createdAt]="'12/10/2022 10:24'"
  [notes]="'Almost the same text as in upper variant'"></app-pickup-call-card>


  <app-pickup-call-card 
  [status]="'finished'" 
  [updatedAt]="'13/10/2022 13:59'"
  [createdAt]="'12/10/2022 10:24'"
  [notes]="'Almost the same text as in upper variant'"
  [value]="'15.00'"></app-pickup-call-card>
