<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iy6P.qskNVuU/v0/-1x-1.png"/>
  <ion-card color="tertiary">  
    <ion-card-content>
      <p>Adress: Fake street, 33</p>
      <p>Complement: oooo 2022</p>
      <p>Neighborhood: -</p>
      <p>Zip code: 98765</p>
      <p>City: Fake street, 33</p>
    </ion-card-content>
    <ion-list>
      <ion-item lines="insert" color="success">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button color="success" fill="clear" size="full" (click)="confirmAndGoToHome()">Confirm</ion-button>
  </ion-card>
</ion-content>
